.Home-container {
  text-align: center;
}
.failure-Stories-image {
  width: 260px;
  height: 127px;
}
.failure-stories-heading {
  font-size: 16px;
  font-weight: bold;
  color: #262626;
  font-family: 'Roboto';
}
.failure-story-button {
  width: 102px;
  height: 32px;
  background-color: #4094ef;
  border-radius: 8px;
  border: 0px solid;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Failure-story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.story-para {
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #262626;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.All-posts-container {
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

.slick-container {
  width: 90%;
  max-width: 1100px;
  margin-top: 10px;
}

.logo-image {
  margin: 5px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.slick-prev:before,
.slick-next:before {
  color: #4094ef;
}
.failure-posts-image {
  width: 40x;
  height: 25px;
}
.failure-posts-heading {
  font-size: 16px;
  font-weight: 400;
  color: #262626;
  font-family: 'Roboto';
}
.failure-posts-button {
  width: 102px;
  height: 32px;
  background-color: #4094ef;
  border-radius: 8px;
  border: 0px solid;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Failure-post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-post-container {
  height: 630px;
  width: 360px;
  background-color: #ffffff;
  border: 1px #c6c6c8 solid;
  list-style-type: none;
  margin: 10px;
}
.post-profile-Image {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.list-style {
  list-style-type: none;
}
.post-image-container {
  height: 45px;
  width: 45px;
  background-color: #ffffff;
  border-radius: 50%;
  border-color: #c60188 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.post-profile-username {
  color: #262626;
  font-size: 16px;
  font-family: 'Roboto';
}
.navigation-link {
  text-decoration: none;
}
.post-profile-container {
  height: 47px;
  width: 360px;
  background-color: #ffffff;
  display: flex;
}
.post-Image {
  width: 360px;
  height: 375px;
}
.post-icons-container {
  display: flex;
}
.icon-button {
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border: 0px solid;
  margin: 5px;
}
.post-icon {
  height: 24px;
  width: 24px;
  color: #475569;
}
.caption-para {
  font-size: 13px;
  color: #262626;
  font-weight: 400;
  font-family: 'Roboto';
  padding-left: 10px;
}
.likes-count-para {
  font-size: 13px;
  color: #000000;
  font-weight: bold;
  font-family: 'Roboto';
  padding-left: 10px;
}
.comment-description {
  color: #262626;
  font-size: 10px;
  font-weight: 400;
  font-family: 'Roboto';
  padding-left: 10px;
}
.comment-para {
  color: #000000;
  font-size: 10px;
  font-family: 'Roboto';
}
.createdAt-para {
  color: #989898;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 400;
  padding-left: 10px;
}
.post-item-list {
  list-style-type: none;
}
.comments-list {
  display: flex;
}

@media screen and (min-width: 768px) {
  .Home-container {
    text-align: center;
  }
  .failure-Stories-image {
    width: 260px;
    height: 127px;
  }
  .failure-stories-heading {
    font-size: 32px;
    font-weight: 400;
    color: #262626;
    font-family: 'Roboto';
  }
  .failure-story-button {
    width: 127px;
    height: 32px;
    background-color: #4094ef;
    border-radius: 12px;
    border: 0px solid;
    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Failure-story-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  .slick-container {
    width: 90%;
    max-width: 1100px;
    margin-top: 10px;
  }

  .logo-image {
    margin: 5px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
  .slick-prev:before,
  .slick-next:before {
    color: #4094ef;
  }
  .story-para {
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #262626;
  }
  .failure-posts-image {
    width: 70px;
    height: 50px;
  }
  .failure-posts-heading {
    font-size: 32px;
    font-weight: 400;
    color: #262626;
    font-family: 'Roboto';
  }
  .failure-posts-button {
    width: 127px;
    height: 32px;
    background-color: #4094ef;
    border-radius: 12px;
    border: 0px solid;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Failure-post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .All-posts-container {
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
  }
  .list-post-container {
    height: 1050px;
    width: 800px;
    background-color: #ffffff;
    border: 2px #c6c6c8 solid;
    margin: 10px;
    list-style-type: none;
    margin-left: 15vw;
  }
  .post-profile-Image {
    height: 58px;
    width: 58px;
    border-radius: 50%;
  }
  .post-image-container {
    height: 65px;
    width: 65px;
    background-color: #c60188;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  .post-profile-username {
    color: #262626;
    font-size: 20px;
    font-family: 'Roboto';
  }
  .navigation-link {
    text-decoration: none;
  }
  .post-profile-container {
    height: 70px;
    width: 798px;
    background-color: #ffffff;
    display: flex;
  }
  .post-Image {
    width: 798px;
    height: 650px;
    padding-top: 5px;
  }
  .post-icons-container {
    display: flex;
  }
  .icon-button {
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    border: 0px solid;
    margin: 5px;
  }
  .post-icon {
    height: 40px;
    width: 40px;
    color: #475569;
  }
  .caption-para {
    font-size: 17px;
    color: #262626;
    font-weight: 400;
    font-family: 'Roboto';
    padding-left: 10px;
  }
  .likes-count-para {
    font-size: 17px;
    color: #000000;
    font-weight: bold;
    font-family: 'Roboto';
    padding-left: 10px;
  }

  .comment-description {
    color: #262626;
    font-size: 16px;
    font-family: 'Roboto';
    padding-left: 7px;
  }

  .comment-para {
    color: #000000;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 800;
  }

  .createdAt-para {
    color: #989898;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    padding-left: 20px;
  }
  .post-item-list {
    list-style-type: none;
    display: flex;
  }
  .comments-list {
    display: flex;
  }
  .list-style {
    list-style-type: none;
  }
}
